.sucodev-team {
    position: fixed;
    bottom: 36px;
    right: 36px;
  
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
  
    /* Body text 2 */
    color: #525252;
  }
  
  .sucodev-team:hover {
    cursor: pointer;
  }
  
  .login-logo {
    position: fixed;
    left: 0pc;
  }
  .login-container {
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  .login-left-container {
    width: 40%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    background: #00693B;
    padding-top: 100px;
  }
  .login-left-bottom{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    background: white;
  }
  .login-left-img {
    width: 100%;
    clear: both;
    display: inline-block;
    z-index: 2;
    position: relative;
  }
  .login-header-name {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #00693b;
    position: relative;
    margin-bottom: 24px;
  }
  
  .login-form-label {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #363445;
  }
  
  .login-form-label-forgot {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #00693b;
    margin-bottom: 12px;
  }
  
  .login-form-label-forgot:hover {
    cursor: pointer;
  }
  
  .login-form-input {
    height: 48px;
    width: 100%;
    border: none;
    background: #dde1cd;
    border-radius: 4px;
  
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
  
    /* Body text */
    color: #525252;
    padding: 12px;
  }
  
  .login-form-input:focus {
    outline: 1px solid #00693b;
  }
  
  .login-form-button-signin {
    height: 48px;
    background: #00693b;
    border: none;
    border-radius: 4px;
    margin-top: 12px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .login-form-or {
    width: 100%;
    margin-top: 24px;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
  
    /* Gray */
    color: #90a0b7;
    height: 24px;
  }
  
  .login-line {
    height: 1px;
    width: 100%;
    background: #c4c4c4;
  }
  
  .login-form-or-label {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #e8eae0;
    padding: 0px 4px;
  }
  
  .login-form-button-google {
    width: 566px;
    height: 48px;
    background: white;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    width: 100%;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  
    color: #363445;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonGoogle{
    margin-right: 8px;
  }
  .login-form-end-label {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
  
    /* Title text */
    color: #363445;
    margin-top: 36px;
  }
  
  .login-link {
    color: #00693b;
    clear: both;
    display: inline-block;
  }
  .login-link:hover {
    cursor: pointer;
  }
  
  .login-validation {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #f46414;
    min-height: 24px;
  }
  
  .login-right-container {
    position: absolute;
    width: 60%;
    height: 100vh;
    background-color: #e8eae0;
    right: 0px;
    text-align: center;
    overflow: auto;
    /*min-width: 678px;*/
    display: flex;
    align-items: center;
  }
  .login-form-container {
    width: 100%;
    padding: 0px 142px;
    text-align: left;
  }
  
  
  .login-logo {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
  }
  
  @media screen and (max-width: 992px) {
    .login-left-container {
      display: none;
    }
    .login-logo {
      display: none;
    }
    .login-right-container {
      width: 100%;
    }
    .login-form-container {
      padding: 48px;
    }
  }
  
  @media screen and (max-height: 625px) {
    .sucodev-team {
      position: static;
      text-align: center;
      margin-top: 12px;
      float: right;
    }
  }
  @media screen and (max-width: 600px) {
    .login-right-container {
      width: 100%;
    }
  
    .login-form-container {
      padding: 24px;
    }
  
    .login-form-or {
      margin-top: 12px;
    }
    .login-form-button-google {
      margin-top: 12px;
    }
  }